html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
h1 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    grid-area: total;
    background-color: #333;
    color: white;
    margin: 0;
    padding: 1rem;
    font-size: 4rem;
}
button {
    font-size: 2rem;
    border: 1px solid #333;
}

.wrapper {
    min-height: 100vh;
}
.wrapper, .subgrid {
    display: grid;
}
.wrapper {
    grid-template-areas:
        "total total total total"
        "modif modif modif oper"
        "digit digit digit oper"
        "digit digit digit oper"
        "digit digit digit oper"
        "digit digit digit oper";
}

.modifiers {
    grid-area: modif;
}
.operations {
    grid-area: oper;
}
.digits {
    grid-area: digit;
}

.modifiers button {
    background-color: #D6D6D6;
}
.operations button {
    background-color: #F5923E;
}
.digits button {
    background-color: #E0E0E0;
}
